.imgCarousel{
   max-height: 500px;
    object-fit: cover;
    
}

footer{
    background-color: black;
    
    margin-top: 350px;
    width: 100%;

}
footer p{
    color: white;

}
.imgCarouselNosotros{
    height: 640px;
    object-fit: cover;
}

.card-body iframe{
    width: 100%;
}